.contacts {
  &__title {
    margin-bottom: 64px;
  }

  &__addresses {
    margin-bottom: 64px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 96px 0;
    max-width: 1280px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 255px;

    &:nth-child(2) {
      margin: 0 20px;
    }
  }

  &__col-head {
    margin-bottom: 16px;
    width: 100%;
  }

  &__col-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;

    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }

  &__col-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    width: 48px;
    height: 48px;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      @include mr(16px);

      font-weight: 700;
      font-size: 16px;
    }

    a {
      display: inline-block;
      transition: transform $transition;

      @include hover {
        transform: scale(1.05);
      }
    }
  }
}

.contacts-map {
  &__controls {
    display: flex;
    margin-bottom: 32px;
  }

  &__select {
    width: 284px;
  }

  &__select-btn {
    margin-right: 16px;
  }

  &__frame {
    position: relative;

    iframe {
      width: 100%;
    }
  }

  &__cards {
    position: absolute;
    right: 110px;
    top: 27px;
    bottom: 27px;
    z-index: 10;
  }

  &__el {
    position: relative;
    display: flex;
    overflow: hidden;
  }
}

.map-card {
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  max-width: 350px;
  background: #fff;

  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 48px;
    height: 48px;
  }

  &__item {
    @include mb(2px);

    display: flex;
    align-items: center;

    a {
      color: $primary-color;

      @include hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-top: 16px;
      border-top: 1px solid rgba(49, 56, 150, 10%);
      border-bottom: 1px solid rgba(49, 56, 150, 10%);
      padding: 24px 0 16px;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__footer {
    padding-top: 24px;
  }

  &__caption {
    padding-right: 15px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  &__field-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__field {
    position: relative;

    input {
      @include input-styles;

      padding-right: 36px;
      width: 100%;
    }

    button {
      position: absolute;
      right: 8px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 0;
      width: 24px;
      height: 24px;
      box-shadow: none;
      background: $primary-color;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__field-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    width: 48px;
    height: 48px;
  }

  &__btn {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .map-card {
    box-shadow: 2px 0 4px rgba(55, 87, 214, 24%), 0 4px 8px rgba(55, 87, 214, 16%);
  }

  .contacts-map {
    &__frame {
      iframe {
        height: 506px;
      }
    }

    &__cards {
      right: 0;
      top: -64px;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 940px) {
  .map-card {
    &__title {
      font-size: 18px;
    }
  }
}