.header {
  &__top {
    border-bottom: 2px solid rgba($primary-color, 10%);
    padding: 15px 0;
    font-weight: 700;
    font-size: 14px;
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 24px;

    picture {
      display: flex;
    }

    img {
      width: 197px;
    }
  }

  &__caption {
    margin-right: auto;
    max-width: 163px;
  }

  &__info {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      @include mr(64px);

      max-width: 213px;
    }
  }

  &__main {
    padding: 24px 0;
  }

  &__main-inner {
    display: flex;
    align-items: center;
  }

  &__catalog {
    position: relative;
    z-index: 4;
    margin-right: 9px;

    a {
      display: block;
      border-bottom: 2px solid transparent;
      padding: 8px 16px;
      min-height: 48px;
      font-weight: 600;
      text-shadow: 0 4px 16px transparent;
      transition: $transition;

      &:focus,
      &:active {
        border-color: $primary-color;
      }

      @include hover {
        text-shadow: 0 4px 16px rgba(55, 87, 214, 60%);
      }
    }

    > ul {
      @include submenu;

      position: absolute;
      min-width: 210px;
    }

    &.is-active {
      > a {
        border-color: $primary-color;
        color: $primary-color;
      }

      > ul {
        display: block;
      }
    }
  }

  &__catalog-submenu {
    position: relative;

    > a {
      position: relative;
      padding-right: 40px;
      transition: color $transition, border-color $transition, text-shadow $transition;

      &::after {
        content: "";
        position: absolute;
        right: 14px;
        top: 50%;
        width: 12px;
        height: 8px;
        background: url("../img/chevron-down-icon.svg") center no-repeat;
        transform: translateY(-50%) rotate(-90deg);
      }
    }

    li > a {
      padding: 10px 16px;
      font-weight: 400;
      font-size: 16px;
    }

    > ul {
      @include submenu-right;
    }

    &.is-active {
      > a {
        border-color: $primary-color;
        color: $primary-color;
      }

      > ul {
        display: block;
      }
    }
  }

  &__search-box {
    position: relative;
    flex-grow: 1;
    margin-right: 9px;

    input {
      @include reset-search-input;

      appearance: none;
      display: block;
      outline: none;
      border: 2px solid rgba($primary-color, 10%);
      border-radius: 0;
      padding: 11px 20px 11px 48px;
      width: 100%;
      font-size: 14px;
      color: $text-color;
      background: url("../img/search-icon.svg") center left 13px no-repeat;
      background-color: #fff;
      transition: border-color $transition;

      &::placeholder {
        color: $secondary-color;
      }

      &:invalid {
        border-color: #fd2020;
      }

      &:focus,
      &:active {
        border-color: $accent-color;
      }

      @include hover {
        border-color: rgba(0, 0, 0, 30%);

        &:invalid {
          border-color: #fd2020;
        }

        &:focus,
        &:active {
          border-color: $accent-color;
        }
      }
    }

    &.is-active {
      .header__search-hints {
        display: block;
      }
    }
  }

  &__hints-container {
    padding: 12px 0;
    background-color: #fff;
  }

  &__hints-inner {
    position: relative;
    padding-right: 48px;
    max-width: 446px;
    max-height: 196px;

    ul {
      margin: -12px 0;
    }

    &.native-scroll {
      overflow: auto;
      margin-right: 24px;
      padding-right: 35px;
    }
  }

  &__search-hints {
    @include submenu;

    left: 40px;
    z-index: 3;
    width: auto;
    font-size: 16px;
    filter: drop-shadow(2px 0 4px rgba(55, 87, 214, 24%)) drop-shadow(0 4px 8px rgba(55, 87, 214, 16%));

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: -14px;
      z-index: -1;
      border-style: solid;
      border-width: 0 13px 22.5px;
      border-color: transparent transparent #fff;
      width: 0;
      height: 0;
      filter: drop-shadow(2px 0 4px rgba(55, 87, 214, 24%)) drop-shadow(0 4px 8px rgba(55, 87, 214, 16%));
    }

    ul {
      position: relative;
      padding-top: 3px;
      background-color: #fff;
    }

    a {
      @include text-shadow-hover;

      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      padding: 3px 9px;
      min-height: 48px;
      transition: color $transition, border-color $transition, text-shadow $transition;

      &:focus,
      &:active {
        border-color: $primary-color;
        color: $primary-color;
      }
    }

    &--lg {
      min-width: 400px;
    }
  }

  &__nav {
    ul {
      display: flex;
      font-weight: 600;
    }

    a {
      @include text-shadow-hover;

      display: flex;
      align-items: center;
      padding: 8px 16px;
      min-height: 48px;
      transition: color $transition, border-color $transition, text-shadow $transition;
    }

    > ul {
      > li {
        @include mr(9px);

        > a {
          border-bottom: 2px solid transparent;

          &:focus,
          &:active {
            border-color: $primary-color;
          }
        }
      }
    }
  }

  &__nav-submenu {
    position: relative;

    > ul {
      @include submenu;

      > li > a {
        &:focus,
        &:active {
          text-shadow: none;
          color: $primary-color;
        }
      }
    }

    > a {
      position: relative;
      border-bottom: 2px solid transparent;
      padding-right: 40px;

      &::after {
        content: "";
        position: absolute;
        right: 14px;
        top: 50%;
        width: 12px;
        height: 8px;
        background: url("../img/chevron-down-icon.svg") center no-repeat;
        transform: translateY(-50%);
        transition: transform $transition;
      }
    }

    &.is-disabled {
      opacity: 0.5;
    }

    &.is-active {
      > a {
        border-color: $primary-color;
        color: $primary-color;

        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      > ul {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .header {
    &__nav {
      li:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__catalog a {
      padding: 8px 12px;
      font-size: 14px;
    }

    &__nav {
      font-weight: 700;
      font-size: 14px;

      a {
        padding: 8px 12px;
        font-size: 14px;
      }

      > ul > li {
        @include mr(0);
      }
    }

    &__catalog-submenu {
      a {
        padding-right: 35px;
      }

      li > a {
        font-size: 14px;
      }
    }

    &__nav-submenu {
      li > a {
        border-bottom: 1px solid rgba(49, 56, 150, 10%);
      }

      > a {
        padding-right: 35px;
      }
    }

    &__search-box {
      margin-right: 0;
    }

    &__info li {
      @include mr(32px);
    }

    &__top {
      font-size: 12px;
    }

    &__logo {
      margin-right: 16px;

      img {
        width: 124px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .header {
    &__burger {
      margin-right: 30px;
    }

    &__main {
      padding: 14px 0;
    }

    &__info-hidden-sm {
      display: none;
    }

    &__top {
      padding: 16px 0;
      font-size: 10px;
    }

    &__logo {
      img {
        width: 96px;
      }
    }

    &__caption {
      max-width: 117px;
    }

    &__search-box input {
      padding-left: 40px;
      font-size: 10px;
      background-position: left 11px center;
      background-size: 17px;

      &::placeholder {
        color: $text-color;
      }
    }

    &__nav,
    &__catalog {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .header {
    &__logo {
      margin-right: 0;
      width: 100%;
    }

    &__top {
      padding: 9px 0;
      font-size: 8px;
    }

    &__top-inner {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__caption {
      width: 33%;
    }

    &__info {
      min-width: 50%;

      ul {
        align-items: flex-end;
        justify-content: space-between;
      }

      li {
        @include mr(2px);

        &:last-child {
          font-weight: 700;
          font-size: 10px;
          text-align: right;
        }
      }
    }
  }
}