.hero {
  &__inner {
  }

  &__slider {
    position: relative;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    min-height: 595px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
  }

  &__item {
    margin: 0 auto;
    max-width: 918px;
    text-align: center;
    color: #fff;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  &__subtitle {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
  }

  &__btn {
  }

  &__slider-prev {
    left: 160px;
    transform: translateY(-50%);
  }

  &__slider-next {
    right: 160px;
    transform: translateY(-50%) rotate(180deg);
  }

  .swiper-pagination {
    position: static;
    margin-top: 32px;

    .swiper-pagination-bullet {
      margin: 0 16px;
      border-radius: 0;
      width: 48px;
      height: 4px;
      background: rgba($text-color, 0.6);
      opacity: 1;
      transition: background-color $transition;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background: $primary-color;
      }
    }
  }

  &__slider-prev,
  &__slider-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    background: url("../img/chevron-left-white-icon.svg") center no-repeat;
    background-color: #5a60ab;
    transition: background-color $transition;
    cursor: pointer;

    @include hover {
      background-color: rgb(108, 115, 202);
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    .container {
      padding: 0;
      max-width: 100%;
    }

    &__slide {
      padding: 70px 15px;
      min-height: 500px;
    }

    &__item {
      max-width: 610px;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 24px;
    }

    &__title {
      font-weight: 600;
      font-size: 48px;
    }

    &__slider-prev {
      left: 27px;
    }

    &__slider-next {
      right: 27px;
    }

    &__slider-prev,
    &__slider-next {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 940px) {
  .hero {
    &__slide {
      padding: 53px 15px;
      min-height: 480px;
      background-color: #4042e2;
    }

    &__item {
      max-width: 560px;
    }

    .swiper-pagination {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 12px;
      margin: 0 auto;

      .swiper-pagination-bullet {
        margin: 0 8px;
        width: 16px;
        height: 2px;
        background: rgba(33, 33, 33, 50%);
        transition: background-color $transition;

        &.swiper-pagination-bullet-active {
          background-color: #fff;
        }
      }
    }

    &__slider-prev,
    &__slider-next {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .hero {
    &__title {
      margin-bottom: 8px;
      font-size: 24px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__slide {
      min-height: 440px;
    }
  }
}