.popular {
  &__title {
    margin-bottom: 80px;
  }

  &__head {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: auto;
    }

    a {
      display: block;
      padding: 9px 16px;
      font-weight: 600;
    }

    li {
      flex-shrink: 0;
    }
  }

  &__slide {
    width: 210px;
  }
}

@media screen and (max-width: 1200px) {
  .popular {
    &__title {
      margin-bottom: 32px;
    }

    &__slide {
      width: 190px;
    }
  }
}

@media screen and (max-width: 940px) {
  .popular {
    &__nav {
      display: none;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__head {
      margin: 0 -16px 16px;
      margin-bottom: 16px;

      li {
        font-size: 12px;
      }
    }

    &__slide {
      width: 116px;
    }
  }
}

@media screen and (max-width: 520px) {
  .popular {
    &__title {
      margin-bottom: 8px;
    }

    &__slider {
      margin-right: -15px;
    }
  }
}