.product-desc {
  p {
    @include mb(16px);
  }
}

.product-docs {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;

  &__item {
    margin: 8px;
    max-width: 200px;
    font-size: 16px;
    color: rgba(33, 33, 33, 90%);

    a {
      position: relative;
      display: block;
      text-align: center;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        background: url("../img/download-icon.svg") center no-repeat;
      }
    }
  }
}

.product-reviews {
  &__item {
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) ~ .product-reviews__item {
      display: none;
    }
  }

  &__list {
    margin-bottom: 32px;
  }

  &__btn {
    width: 100%;
    max-width: 290px;
  }

  &.is-expanded {
    .product-reviews__item:nth-child(2) ~ .product-reviews__item {
      display: block;
    }
  }
}

@media screen and (max-width: 940px) {
  .product-reviews {
    &__list {
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 520px) {
  .product-desc {
    font-size: 12px;
  }

  .product-docs {
    &__item {
      max-width: 170px;
      font-size: 12px;

      a::before {
        width: 64px;
        height: 64px;
        background-size: 26px;
      }
    }
  }
}