.reviews {
  &__title {
    margin-bottom: 16px;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(49, 56, 150, 10%);
  }

  &__item {
    img {
      width: 100%;
      max-height: 650px;
    }

    picture {
      display: flex;
    }
  }

  .swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .reviews {
    .swiper-pagination {
      display: flex;
    }

    &__item {
      img {
        height: 425px;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .reviews {
    &__item {
      img {
        height: auto;
        min-height: 220px;
      }
    }

    &__title {
      margin-bottom: 32px;
    }

    &__nav {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .reviews {
    &__slider {
      margin-right: -15px;
      padding-right: 15px;
    }

    &__slide {
      width: 211px;
    }

    &__title {
      margin: 0 auto 24px;
      max-width: 185px;
    }

    &__item {
      img {
        height: 311px;
      }
    }
  }
}