.burger {
  $burger-width: 18px;
  $burger-height: 14px;
  $burger-line-height: 2px;

  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: $white-color;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: $burger-line-height;
    background-color: currentcolor;
    transition:
      transform $menu-transition,
      top $menu-transition;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burger-line-height);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 2px;
    width: 100%;
    height: $burger-line-height;
    background-color: currentcolor;
    transform: translateY(-50%);
    transition: transform $menu-transition;
  }

  &.is-active {
    z-index: 9;

    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}
