/* stylelint-disable declaration-no-important */
.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--sm {
    --content-width: 1280px;
    --container-width: calc(var(--content-width) + var(--container-offset) * 2);
  }
}

.is-hidden {
  display: none !important;
}

.disable-scroll,
.overflow-hidden {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: #fff;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.title-sm {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}

.section-offset {
  padding: 96px 0;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;

  &__prev {
    margin-right: 8px;

    img {
      transform: rotate(180deg);
    }
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 40px;
    box-shadow: none;
    background: transparent;
    transition: opacity $transition;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 0.1;
    }
  }
}

.check-list {
  li {
    @include mb(22px);

    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      margin-right: 16px;
      padding-left: 12px;
      width: 48px;
      height: 48px;
      background: url("../img/list-icon.svg") center no-repeat;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-offset {
    padding: 64px 0;
  }

  .title {
    font-size: 32px;
    line-height: 1.4;
  }

  .container {
    --content-width: 930px;
    --container-width: calc(var(--content-width) + var(--container-offset) * 2);
  }
}

@media screen and (max-width: 940px) {
  .section-offset {
    padding: 48px 0;
  }

  .title {
    font-size: 24px;
  }

  .container {
    --content-width: 610px;
    --container-width: calc(var(--content-width) + var(--container-offset) * 2);
  }

  .check-list {
    li {
      @include mb(16px);

      &::before {
        width: 40px;
        height: 40px;
        background-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .section-offset {
    padding: 32px 0;
  }

  .title {
    font-size: 18px;
    line-height: 1.6;
  }

  .container {
    padding: 0 15px;
  }

  .check-list {
    li {
      @include mb(8px);
    }
  }
}
