/* stylelint-disable declaration-no-important */
.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--sm {
    --content-width: 1280px;
    --container-width: calc(var(--content-width) + var(--container-offset) * 2);
  }
}

.is-hidden {
  display: none !important;
}

.disable-scroll,
.overflow-hidden {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: #fff;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.title-sm {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: rgba(33, 33, 33, 70%);

  a {
    color: $primary-color;
  }
}

.section-offset {
  padding: 96px 0;
}

.section-offset-b {
  padding-bottom: 96px;
}

.breadcrumbs {
  @include hide-scroll;

  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px 0 44px;
  font-size: 14px;

  ul {
    display: flex;
  }

  li {
    flex-shrink: 0;
    margin: 0 1px;
    text-decoration: underline;
    color: $primary-color;

    &:last-child {
      text-decoration: none;
      color: rgba(33, 33, 33, 50%);
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 6px;
    padding: 6px 0 6px 12px;
    min-height: 48px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: $primary-color;
  }

  &__btn {
    display: block;
    flex-shrink: 0;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 30px;
    background: url("../img/close-icon.svg") center no-repeat;
    cursor: pointer;
  }
}

.tags {
  font-size: 14px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
    padding-bottom: 6px;
  }

  li {
    flex-shrink: 0;
    margin: 6px;
    border: 1px solid rgba(33, 33, 33, 50%);
    text-align: center;
    background: #fff;

    &.is-active {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  button {
    @include text-shadow-hover;

    display: block;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    color: inherit;
    background: 0;
    cursor: pointer;
  }
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;

  &__prev {
    margin-right: 8px;

    img {
      transform: rotate(180deg);
    }
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 40px;
    box-shadow: none;
    background: transparent;
    transition: opacity $transition;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 0.1;
    }

    &.swiper-button-lock {
      opacity: 0;
      visibility: hidden;
      touch-action: none;
    }
  }
}

.check-list {
  li {
    @include mb(32px);

    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      margin-right: 16px;
      padding-left: 12px;
      width: 48px;
      height: 48px;
      background: url("../img/list-icon.svg") center no-repeat;
    }
  }

  &--sm {
    li {
      @include mb(0);
    }
  }
}

.disc-list {
  li {
    @include mb(8px);

    position: relative;
    padding-left: 25px;

    &::before {
      content: "·";
      position: absolute;
      left: 10px;
      top: -3px;
      vertical-align: middle;
      font-size: 32px;
      line-height: 1;
    }
  }
}

.alert-list {
  li {
    @include mb(24px);

    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      margin-right: 16px;
      width: 48px;
      height: 48px;
      background: url("../img/alert-icon.svg") center no-repeat;
    }
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --content-width: 930px;
  }

  .breadcrumbs {
    padding: 15px 0 27px;
  }

  .section-offset {
    padding: 64px 0;
  }

  .section-offset-b {
    padding-bottom: 64px;
  }

  .title {
    font-size: 32px;
    line-height: 1.4;
  }

  .tags {
    &__row {
      @include hide-scroll;

      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }

  .check-list--sm li {
    @include mb(16px);
  }
}

@media screen and (max-width: 940px) {
  :root {
    --content-width: 610px;
  }

  .tags {
    font-size: 10px;

    &__row {
      margin: -3px -2px;

      li {
        margin: 3px 2px;
      }
    }
  }

  .filters {
    @include hide-scroll;

    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &__item {
      padding: 4px 0 4px 12px;
      min-height: 36px;
      font-size: 12px;
    }

    &__btn {
      width: 36px;
    }
  }

  .breadcrumbs {
    padding: 10px 0 23px;
    font-size: 8px;
  }

  .section-offset {
    padding: 48px 0;
  }

  .section-offset-b {
    padding-bottom: 48px;
  }

  .title,
  .title-sm {
    font-size: 24px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
  }

  .alert-list {
    li {
      @include mb(16px);

      &::before {
        width: 40px;
        height: 40px;
        background-size: 22px;
      }
    }
  }

  .check-list {
    li {
      @include mb(16px);

      &::before {
        width: 40px;
        height: 40px;
        background-size: 20px;
      }
    }

    &--sm {
      li {
        @include mb(8px);
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .tags {
    @include hide-scroll;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: -15px;
    padding-right: 15px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &__row {
      @include mr(4px);

      flex-shrink: 0;
      flex-wrap: nowrap;
      overflow: visible;
    }
  }

  .breadcrumbs {
    padding: 10px 0 15px;
  }

  .section-offset {
    padding: 32px 0;
  }

  .section-offset-b {
    padding-bottom: 32px;
  }

  .title,
  .title-sm {
    font-size: 18px;
    line-height: 1.6;
  }

  .container {
    padding: 0 15px;
  }

  .check-list {
    li {
      @include mb(8px);
    }

    &--sm {
      li {
        @include mb(4px);
      }
    }
  }

  .alert-list {
    li {
      @include mb(8px);
    }
  }
}
