.form {
  display: flex;
  flex-direction: column;

  &__double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    gap: 30px;

    .form__item {
      @include mb(0);
    }
  }

  &__tripple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .form__item {
      @include mb(0);
    }
  }

  &__item {
    @include mb(16px);

    input,
    textarea {
      display: block;
      outline: none;
      border: 2px solid rgba(0, 0, 0, 5%);
      border-radius: 0;
      padding: 11px 24px;
      width: 100%;
      font-size: 16px;
      line-height: normal;
      color: $text-color;
      background-color: #fff;
      transition: border-color $transition;

      &::placeholder {
        color: $secondary-color;
      }

      @include hover {
        border-color: rgba(0, 0, 0, 30%);

        &:invalid {
          border-color: #fd2020;
        }

        &:focus,
        &:active {
          border-color: $accent-color;
        }
      }

      /* stylelint-disable-next-line order/order */
      &:invalid {
        border-color: #fd2020;
      }

      &:focus,
      &:active {
        border-color: $accent-color;
      }
    }

    textarea {
      min-height: 116px;
      resize: none;
    }
  }

  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed $primary-color;
    padding: 10px;
    min-height: 96px;
    text-align: center;
    background: #fff;
    cursor: pointer;

    span {
      position: relative;
      display: block;
      padding-left: 50px;
      font-size: 16px;
      color: $primary-color;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 48px;
        height: 48px;
        background: url("../img/attachment-icon.svg") center no-repeat;
        transform: translateY(-50%);
      }
    }

    input {
      display: none;
    }
  }

  &__main {
    margin-bottom: 24px;
  }

  &__btn {
    margin-bottom: 8px;
    width: 100%;
  }

  &__footer {
    margin-top: auto;
  }

  &__caption {
    font-size: 12px;
    text-align: center;
  }

  .choices {
    &::before {
      content: "";
      position: absolute;
      right: 18px;
      top: 50%;
      width: 15px;
      height: 15px;
      background: url("../img/chevron-down-icon.svg") center no-repeat;
      transform: translateY(-50%);
      transition: transform $transition;
    }

    &::after {
      display: none;
    }

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
      @include text-shadow-hover;

      border-color: rgba(49, 56, 150, 10%);
      padding: 15px 16px 15px 24px;
      font-weight: 400;
      font-size: 16px;
      color: $text-color;
      background-color: #fff;
    }

    &__item.choices__placeholder.choices__item--selectable {
      color: $secondary-color;
      opacity: 1;
    }

    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      border: none;
      border-radius: 0;
    }

    &__list--single {
      padding: 0;
    }

    .choices__list--dropdown .choices__list,
    .choices__list[aria-expanded] .choices__list {
      max-height: 335px;
    }

    &[data-type*="select-one"] .choices__inner,
    .choices__inner {
      border: 2px solid rgba(0, 0, 0, 5%);
      border-radius: 0;
      padding: 9px 40px 10px 24px;
      font-weight: 400;
      font-size: 16px;
    }

    &.is-open {
      &[data-type*="select-one"] .choices__inner,
      .choices__inner {
        border-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &__btn {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 940px) {
  .form {
    &__btn {
      margin-bottom: 8px;
    }

    &__file {
      min-height: 64px;

      span {
        padding-left: 40px;
        font-size: 12px;

        &::before {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__main {
      margin-bottom: 24px;
    }

    &__caption {
      font-size: 10px;
      color: rgba(255, 255, 255, 80%);
    }

    &__item {
      @include mb(12px);

      input,
      textarea {
        padding: 7px 24px 8px;
        font-size: 12px;
      }
    }

    &__tripple {
      display: block;

      .form {
        &__item {
          @include mb(12px);

          &:last-child {
            margin-top: 24px;
          }
        }
      }
    }

    &__double {
      display: block;
      margin-bottom: 24px;

      .form__item {
        @include mb(12px);
      }
    }

    .choices {
      &::before {
        right: 14px;
      }

      .choices__list--dropdown .choices__item--selectable,
      .choices__list[aria-expanded] .choices__item--selectable {
        padding: 7px 16px 7px 24px;
        min-height: 36px;
        font-size: 12px;
      }

      &[data-type*="select-one"] .choices__inner,
      .choices__inner {
        padding: 7px 16px 7px 24px;
        min-height: 36px;
        font-size: 12px;
      }

      &.is-open {
        &::before {
          transform: rotate(180deg) translateY(calc(-50% + 15px));
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .form {
    &__item textarea {
      min-height: 64px;
    }

    &__caption {
      font-size: 8px;
    }
  }
}